@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
body {
  font-family: 'PT Sans', sans-serif;
  color: #010101;
  font-size: 16px;
  line-height: 1.6; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header-section {
  background-color: #FCDB00;
  padding: 30px 0; }
  .header-section .navbar {
    font-weight: 700; }
    .header-section .navbar .navbar-brand {
      transition: all .3s ease; }
      .header-section .navbar .navbar-brand:hover {
        transform: scale(1.1); }
    .header-section .navbar .nav-item {
      padding: 0 20px; }
      .header-section .navbar .nav-item .nav-link {
        color: #010101;
        font-size: 20px;
        border-radius: 30px;
        padding: 8px 18px;
        border: 2px solid transparent;
        transition: all .3s ease; }
        .header-section .navbar .nav-item .nav-link:hover {
          border: 2px solid;
          transform: scale(1.1); }
  .header-section .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%; }
  .header-section .carousel-inner .col-md-6 {
    padding-bottom: 50px;
    padding-top: 40px; }
    .header-section .carousel-inner .col-md-6 h2 {
      font-size: 40px;
      font-weight: 700;
      padding-top: 10px 0; }
    .header-section .carousel-inner .col-md-6 h6 {
      font-size: 20px;
      font-weight: 600;
      opacity: .7; }
    .header-section .carousel-inner .col-md-6 p {
      padding: 10px 40px 10px 0px;
      opacity: .7; }
    .header-section .carousel-inner .col-md-6 .nav li {
      padding-right: 30px;
      padding-top: 10px;
      transition: all .3s ease; }
      .header-section .carousel-inner .col-md-6 .nav li:hover {
        transform: scale(1.2); }

.feature-section {
  padding: 50px 0; }
  .feature-section .heading {
    text-align: center; }
    .feature-section .heading h1 {
      font-weight: 600;
      font-size: 45px; }
    .feature-section .heading p {
      padding: 10px 80px;
      opacity: .7; }
  .feature-section .row {
    padding: 10px 0; }
    .feature-section .row .col-md-4 .row h5 {
      font-weight: 600;
      font-size: 25px; }
    .feature-section .row .col-md-4 .row p {
      padding: 10px 20px 10px 0px;
      opacity: .7; }

footer {
  background-color: black;
  color: white;
  padding: 50px 0; }
  footer .heading {
    text-align: center; }
    footer .heading h1 {
      padding: 10px 0;
      color: #FCDB00;
      font-weight: 600; }
    footer .heading h6 {
      padding: 0px 200px;
      padding-bottom: 25px;
      opacity: .7; }
    footer .heading .row .col-sm-2 a {
      background-color: yellow;
      color: black;
      font-weight: 600;
      padding: 6px 40px;
      transition: all .3s ease;
      transform: scale(1);
      border: 2px solid transparent; }
      footer .heading .row .col-sm-2 a:hover {
        transform: scale(1.1);
        background-color: transparent;
        border: 2px solid yellow;
        color: #fff; }
    footer .heading .social-link {
      padding: 80px 0px; }
      footer .heading .social-link .nav li {
        padding: 0 10px;
        transition: all .3s ease; }
        footer .heading .social-link .nav li:hover {
          transform: scale(1.2); }
  footer .row h6 {
    padding: 5px; }
  footer .row .col-md-2 ul {
    list-style-type: none; }
    footer .row .col-md-2 ul li a {
      color: white;
      font-size: 18px;
      transition: all .3s ease; }
      footer .row .col-md-2 ul li a:hover {
        text-decoration: none;
        color: #FCDB00; }

@media (max-width: 767px) {
  .feature-section .row .col-md-4 .row .col-md-3 img {
    padding-bottom: 15px; }

  .feature-section .heading h1 {
    font-size: 30px; }

  .header-section .carousel-inner .col-md-6 {
    text-align: center !important; }

  .feature-section .row .col-md-4 .row {
    text-align: center; }
    .feature-section .row .col-md-4 .row h5 {
      font-size: 20px; }

  .header-section .carousel-inner .col-md-6 .nav {
    justify-content: center; }

  footer .heading h6 {
    padding: 10px 0; }

  footer .row .col-md-3 {
    text-align: center;
    padding-bottom: 30px; }

  .col-md-2 {
    text-align: center; }

  .header-section .navbar .nav-item {
    text-align: center; } }
@media (max-width: 575px) {
  .header-section .carousel-inner .col-md-6 h2 {
    font-size: 30px; }
  .header-section .carousel-inner .col-md-6 h6 {
    font-size: 15px; }
  .header-section .carousel-inner .col-md-6 p {
    font-size: 12px; }

  .header-section .carousel-inner .col-md-6 .custom {
    padding: 0 60px; }

  footer .heading h6 {
    font-size: 15px; }
  footer .heading h1 {
    font-size: 25px; }
  footer .heading .row .col-sm-2 {
    padding-top: 20px;
    text-align: center !important; } }

/*# sourceMappingURL=style.css.map */
